*{
    margin:0;
    padding:0;
    font-size:17px;
    font-family:open sans;
}
.menu-text,span{
    font-size:30px;
}
.primary-color{
    color:green;
}
li a{
   font-size:25px;
   
}
.top-bar{
    margin-bottom: 2px solid #567a69;
}
.grid-x h2{
    margin-left:30px;
    font-weight: 700;
    font-size:30px;
    margin-top:10px;
}
.
.grid-x p{
    text-align:center;
    font-size:30px;
}
.primary-color{
    text-align: center;
    font-size: 30px;
}
.cat{
    font-weight:bolder;
    font-size:30px;
    text-align: center;
    font-family: sans-serif;
    
}
 p.text-justify{  
    font-size:20px;
    font-family:sans-serif;
    margin-left:45px;
    margin-right:55px;
}
#company{
    background-color:#333;
    border-bottom:2px solid #56a79a;
    height:200%;
    width:100%;
    color:gray;
    padding-top:20px;
    padding-bottom:10px;
}
  h4{
      width:40%;
      margin-left:20px;
  }
  
/* footer */
#main-footer{
    background-color: #56a79a;
    text-align:center;
}  
@media screen and (max-width:768px)
{    
    .menu-text{
        font-size:35px;
        padding:0px;
    
        
    }
    h2{
      width:70%;
      text-align:center;
    }
    a{
        font-size:25px;
    }
    div.top-bar{
    padding:2px;

    }
    p.text-justify{
        width:75%;
        font-size:25px;
        margin-left:15%;
        text-align:justify;
    }
    .menu-text{
        margin-left:-15px;
    }
    
     li a{
       font-size:12px;
       padding-left: 5px;
       padding:0px;
    }
    .menu li a{
        margin-left:-15px;
    }
    h4{
        margin-left:30px;
    }
    #company p{
        margin-left:5%;
    
    }
    #company li{
        margin-left:5%;
    }
    input{
        padding:4px;
        margin-left:0px !important;
    }
    form placeholder{
        color:black;
        font-size:15px;
    }
    
    
}

.grid-x h2{
    margin-left:50px;
    font-weight: 700;
    font-size:30px;
    margin-top:10px;
}


