html,body{
  background-color: red;
  box-sizing: border-box;
  margin:0;
  padding:0;
  overflow-x: hidden;
  width:100%;
}




.orbit-image{
  height:500px;
  z-index: -1;
  
}

h1{
  margin-top:-380px;
  z-index:1;
  color:white;
  text-shadow: 0px -2px 4px yellow;
  margin-left:200px;
}

.box{
  height:500px;
  background-color:yellow;
  color:gray;
}
.inner-box{
  background-color:blue;
  box-shadow:0px 10px 12px white;
  border-bottom-right-radius:10%;
  color:white;
  width:30%;
  height:60%;
  margin-left:20%;
  padding:20px;
    
}

.box img{
  margin-top:-10%;
  margin-left:52%;
  height:320px;
  border:2px solid blue;
  border-bottom-right-radius: 15%;
  box-shadow:2px 10px 4px red
              
}

.button{
  margin-left:15%;
  border-radius:10%;
  box-shadow: -2px 3px 2px yellow;
}
#button{
  margin-left:-13%;
}

.cal2 li{
  margin-left: 15%;
  font-size: 3rem;
  color: aliceblue;
  text-shadow: -2px -4px 6px blue;
}
.content{
  border:2px solid white;
  width:99%;
  margin-left:0.5%;
}
.inner-content{
  border:2px solid blue;
  box-shadow:2px 10px 14px white;
  color:whitesmoke;
  text-shadow:2px 5px 4px white;
  border-bottom-right-radius: 15%;
  margin:2% 4%;
  padding:23px;
}
.img img{
  margin-left:17%;
  border:2px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius:10% ;
  box-shadow:-4px -7px 10px white;
}
.text{
  margin-top:5%;
  padding:0px;
  font-size:1.4rem;
  text-align: center;
}
h2{
  color:white;
  text-align: center;
}

.inner-content h2{
  margin-top:-6%;
}
.text ul{
  color:yellow;
}

/* services */
.content-2{
  border:2px solid white;
  background-color:gray;
  width:99%;

  margin-left:0.5%;
  margin-top:1%;
}

#clients {
  
  color:white;
}
#clients h1{
  font-size: 3.5rem;
}
#clients p{
  margin-left:15%;
  font-size:1.5rem;
}
#clients h1{
  margin-top:-30%;
  font-size:2.5rem;
}

#clients ul li{
  list-style: none;
  margin-left:30%;
  font-size:1.5rem;
}
.ck{
  height: 400px;
  border:2px solid yellow;
  
}
.social-media{
  background-color:black;
  color:white;
  font-size:2rem;
  text-align: center;
  margin-top:1%;
  padding:10px;
  width:99%;
  margin-left:0.5%;
  opacity:0.9;
}
i{
  margin-top:1%;
}
a{color:white;}
i:hover{
  color:gray;
  cursor:pointer;
  font-size:3rem;
}
@media screen and (max-width:500px)
{
a{
  font-size:13px;
}
.menu{
width:120px;
}

.orbit-image{
  height:500px;
  z-index: -1;
  
}
h1{
  margin-top:-410px;
  font-size:2rem;
  margin-left: 100px;
  
}
.button{
  margin-left:18%;
  margin-top: 15%;
}
#button{
  margin-left:-4%;
}
.cal2 li{
  margin-left:35%;
  font-size: 1.5rem;
}
.inner-box{
  width:60%;
  height:70%;
  padding:10px;
  line-height: 1rem;
  font-size: 1rem;
  margin-left:2%;
}
.box img{
  height:150px;
  margin-left:65%;
}
.content{
  width:90%;
  margin-left:5%;
}
.content .inner-content{
  margin-left:2.5%;
  width:95%;
}
.inner-content{
  margin-left: 1%;
  margin-right: 1;
  
}
#clients h1{
  margin-top:-100%;
  margin-left: 12%;
}
#clients p{
  margin-left:15%;
}


}

